---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const allPosts = await Astro.glob('../pages/post/*.md');
const pageTitle = 'My Astro Learning Blog';
---

<Layout title={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
    {
      allPosts.map((post) => (
        <Card href={post.url || ''} title={post.frontmatter.title} body={post.frontmatter.image.url} />
      ))
    }
</Layout>
